Conditional statements
- if elif
- if elif else

Grading System<br>
90-100 -->Ex<br>
85-90 -->A<br>
75 -85 -->B<br>
65-75 -->C<br>
55-65 -->D<br>
<55 -- F<br>
Note: For all the cases upper bound is inclusive and lower bound is exclusive

<pre>if cond1:
    st1
elif cond2:
    st2</pre>

<pre>if cond1:
    st1
else:
    if cond2:
        st2</pre>

In [ ]:
m = float(input())
grade = ''
if (m<=100) and (m>90):
    grade='Ex'
elif (m<=90) and (m>85):
    grade='A'
elif (m<=85) and (m>75):
    grade='B'
elif (m<=75) and (m>65):
    grade='c'
elif (m<=65) and (m>55):
    grade='D'
elif m<=55:
    grade='F'
print(grade)

In [ ]:
m = float(input())
grade = ''
if (m<=100) and (m>90):
    grade='Ex'
if (m<=90) and (m>85):
    grade='A'
if (m<=85) and (m>75):
    grade='B'
if (m<=75) and (m>65):
    grade='c'
if (m<=65) and (m>55):
    grade='D'
if m<=55:
    grade='F'
print(grade)

In [ ]:
m = int(input())
if m<25:
    print(25)
elif m<50:
    print(50)

In [ ]:
m = int(input())
if m<25:
    print(25)
if m<50:
    print(50)

In [ ]:
if 0:
    print('if')
elif 1:
    print('elif')
else:
    print('else')

<pre>if cond1:
    st1
elif cond2:
    st2
    if cond3:
        st3
    elif cond4:
        st4
    else:
        st5
else:
    st5</pre>

###### String Fuctions
- immutable
- doest not support item assignment

In [ ]:
s = 'python'
s[0] = 'P'

In [ ]:
print(s)
s + " Programming"
print(s)

In [ ]:
print(dir(s))

In [ ]:
print(s)
print(s.capitalize())
print(s)

In [ ]:
s="PYTHon"
print(s)
print(s.casefold())
print(s)

In [ ]:
help(s.center)

In [ ]:
print(s)
print(s.center(11,'d'))
print(s)

In [ ]:
print(s.count('o'))
print(s.count('p'))

In [ ]:
print(s.count('o'))
s1 = s.casefold()
print(s1.count('p'))

In [ ]:
help(s.encode)

In [ ]:
sd = s.encode()
print(sd,type(sd))

In [ ]:
sd.decode('utf-8')

In [ ]:
s = "Hello world, Good Morning"
print(s.split())
print(s.split(','))
print("hello".split())

In [ ]:
l =['h','e','l','l','o']
"".join(l)

In [ ]:
sl = ['Hello', 'world,', 'Good', 'Morning']
' '.join(sl)

In [ ]:
" ".join(["3","4","5"])

In [ ]:
"".join(("3","4","5"))

In [ ]:
s = "Machine"
#o/p : "M,a,c,h,i,n,e"
",".join(s)

In [ ]:
Full_Name = "         Problem_Solving Python   "
Full_Name.strip()

In [ ]:
help(str.strip)

In [ ]:
Full_Name = "hlsslProblem_Solving Pythons"
print(Full_Name.strip())
print(Full_Name.strip('lhs'))
print(Full_Name.lstrip('lhs'))
print(Full_Name.rstrip('lh'))

In [ ]:
help(s.expandtabs)

In [ ]:
dir(str`)

In [ ]:
help(str.rfind)

In [ ]:
s ="my name ratnam"
s.rfind('nam',0,10)

In [3]:
'a' in "machine"

True

In [4]:
1 in [2,3,1]

True

In [5]:
1 in [2,3,9]

False

In [6]:
"is" in ["are","was"]

False

In [7]:
"is" in ["are","was","is"]

True

Loops
- for
- while

<pre>for var in iterator:
    statements using var or wistout using or</pre>
- The loop will run n number of times. n is no of elements in the iterator

Iterable value<br>
"Python" -'P','y','t'<br>
[1,2,3] - 1,2,3<br>
(2,3,4) - 2,3,4<br>
{'one':1,"two":4} - 'one','two'<br>

In [10]:
s = "Python"
for ch in s:
    print(ch,end=" ")

P y t h o n

In [32]:
s = "Python"
for ch in range(len(s)):
    print(ch,s[ch],sep=',',end=" ")

0,P 1,y 2,t 3,h 4,o 5,n

In [33]:
s = "Python"
for ch in range(4):
    print(ch,s[ch],sep=',',end=" ")

0,P 1,y 2,t 3,h

In [36]:
list(range(len(s)-3,len(s)))

[3, 4, 5]

In [37]:
s = "Python"
for ch in range(len(s)-3,len(s)):
    print(ch,s[ch],sep=',',end=" ")

3,h 4,o 5,n

In [39]:
s = "Python"
for ch in s[len(s)-3:len(s)]:
    print(ch,end=" ")

h o n

In [16]:
for ele in [1,2,3]:
    print(ele,end=' ')

1 2 3

In [18]:
for ele in (2,3,4):
    print(ele,end=' ')

2 3 4

In [19]:
ch,ele

('n', 4)

In [20]:
for k in {'one':1,"two":4}:
    print(k)

one
two

In [21]:
d= {'one':1,"two":4}
for k in d:
    print(d[k])

1
4

In [27]:
print(list(range(5)))
print(list(range(0,5)))
print(list(range(0,5,1)))
print(list(range(0)))
print(list(range(5,5)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[]
[]

In [26]:
n=2
for i in range(2,n//2):
    print(i)

In [28]:
print(list(range(3,35,3)))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33]

In [31]:
print(list(range(33,2,-3)))

[33, 30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

In [42]:
# Read upperbound and lowerbound 
# Read the number
# print the table for the given number from 
# lower bound to upper bound
lb = int(input())
ub = int(input())
n = int(input())
for i in range(lb,ub):
    print(n,'*',i,"=",n*i)

10
20
3
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51
3 * 18 = 54
3 * 19 = 57

In [ ]:
# i/p ["python","C","R",'java']
# o/p [6,1,1,4]

In [ ]:
# i/p "Indian Institute of Technology"
#o/p I.I.T