In [ ]:
# Read the input from keyboard
# i/p  "23 44 67 92 99"
# o/p : [3,4,7,2,9]
# Try the problem in two ways
    # to update the same list 
    # to create a new list

In [ ]:
# Read the inputs from keyboard
# i/p1: "10 20 30 60 99"
# i/p2: "7 6 9 11 9"
# o/p1: [3,2,3,5,0]
# o/p2 : [1,3,3,5,11]

In [ ]:
# Read the inputs from keyboard
# i/p1: "10 20 30 60 99"
# i/p2: "7 6 9 11 9"
# i/p3: "56 78 89 9 52"
#o/p [[10,20,30,60,99],[7,6,9,11,9],[56,78,89,9,52]]

In [ ]:
# Get the input from keyboard Hoiw many names you want to read
# Read the names from keybord one by one. Store them in a list.
# update the same list with names as lowercase letters
# Get the names in a new list as output which starts with vowels
# Get the names in a new list which ends with consonants
# Get the names in a new list which will starts with vowels and ends with consonants
# Get the names in new list which will start with consonats and ends with vowel
# Get the names in a list which have length in range(5,10). Both 5 and 10 are inclusive

In [ ]:
# Read the emails of a string from keyboard until the user enters 'done'.
# From the mails get the domin names of the mails in list
# example "ml.ai@gmail.com" , domain is "gmail.com" here

In [ ]:
# read the number of students from user
# Read the details of students into a list. Each sublist contains below details
    # studentName,RollNumber,Marks,Language in a single line
    # example "raj,416,56,python"
# Create a list in which 
    # each sublist conatains three elements
        # First element is a tuple contains name and roll number
        # second element is marks
        # third element is language 
# From the list get the  different languages avaialble in the data

In [ ]:
# read two lists from user. Two list conatins the names of students
# Get the names which are there in both lists
# Get the names which are there in alteast one list
# Get the names which are there in list1 not there in list2
# Get the names which are there in list2 not there in list1

In [ ]:
# Craete multipliaction table of a number
# Read the number from user
# Example :3
3 * 1 = 3
3 * 2 = 6
'''''''
''''''
3 * 10 = 30
# Later modify the code so that you can read the lower bound and upperbound for the table. 
# for the above case lowerbound is 1 and upper bound is 10

In [ ]:
# take a list of numbers or names with repetetive values
# Get a list as output
    # each sublist has the number and how many times it is there in the list
# The ouput shoud be in sorted order based on count.
# If the count is equal different numbers. Sort them based on numbers
# Example : [23,45,23,77,67,45,45,2,3,3,2,3]
# output :[[3,3],[45,3],[2,2],[23,2],[67,1],[77,1]]