In [ ]:
# Calculate squares of each element in a list
# i/p : [5,3,2,9]
# o/p : [25,9,4,81]

In [1]:
# Add two numbers
8+9

17

In [ ]:
# Display Hello World!

In [ ]:
# Display Hello <UserName>
# Read the username from the user

In [ ]:
# Create a Dict with Roll numbers as key values as name
# Read the Roll Number from the keyboard
# From dict get the name using Roll Number
# Dislay Hello <UserName>

In [ ]:
print()
print("value")
print("value1","value2")
print("value1","value2",sep=',')
print("value1","value2",sep=',',end =' ')

In [4]:
a = print("value1","value2",sep=',')
print(a)

value1,value2
None

In [6]:
b = input()
c = len("hgc")
print(b,c)

67
67 3

In [7]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

def functionName(arg1,arg2,...):
    state1
    state2
    state3
    return value

In [10]:
# Without any argument and return value
# defining a function
def hello():
    print("Hello World!")
# Calling the function
hello()

Hello World!

In [18]:
# With an argument and without return value
# defining a function
def hello(name):
    print("Hello "+name)
# Calling the function
hello("Python")
hello(name="Python")

Hello Python
Hello Python

In [24]:
# With two arguments and without return value
# defining a function
def hello(fname,lname):
    print("Hello "+fname+' '+lname)
# Calling the function
hello(fname="Python",lname="ML")
hello("Python","ML")
hello("Python",lname="ML")
#hello(fname="Python","ML")

Hello Python ML
Hello Python ML
Hello Python ML

In [26]:
# Function with an optional argument
def hello(fname,company = "PromizeIT"):
    print("Hello "+fname+' '+ company)
# Calling the function
hello("Raj","DELL")
hello("Raj")

Hello Raj DELL
Hello Raj PromizeIT

In [28]:
# Should mention the optional arguments at the end
def hello(fname="Unknown",company ):
    print("Hello "+fname+' '+ company)
# Calling the function
hello("Raj","DELL")
hello("Raj")

SyntaxError: non-default argument follows default argument (<ipython-input-28-9f9d64af05a2>, line 2)

In [31]:
# Function with return value
def cube(n):
    return n**3
print(cube(5))
a = cube(5)
print(a)

125
125

In [38]:
# Function with two return values
def powern(n):
    d = len(str(n))
    return n**d,d
value,digits= powern(11)
print(value,digits)
values = powern(11)
print(values,type(values))
print(powern(11))

121 2
(121, 2) <class 'tuple'>
(121, 2)

In [39]:
# Arguments with variable length
def prod(*numbers):
    m = 1
    for i in numbers:
        m *= i
    return m

In [42]:
print(prod(2,3))
print(prod(2,3,4))
print(prod(2,3,4,5))

6
24
120

In [53]:
def marksSum(**numbers):
    print(type(numbers))
    print(numbers)
    marks= []
    for i in numbers:
        marks.append(sum(numbers[i]))
    return marks
marksSum(std1=[45,56],std2=[23,34])

<class 'dict'>
{'std1': [45, 56], 'std2': [23, 34]}

[101, 57]

In [55]:
def marksSum(**numbers):
    return sum(numbers.values())
marksSum(maths=56,science=77)

133

In [58]:
def marksSum(**numbers):
    if 'maths' in numbers:
        return numbers['maths']
    else:
        print("Please enter marks in Maths")
marksSum(science=77)

Please enter marks in Maths

CamelCasing
- firstName
- lastName
- sumOfMarks

- first_name
- last_name
- sum_of_marks

In [ ]:
# Calculate squares of each element in a list
# i/p : "5,3,2,9"
# o/p : [25,9,4,81]
# func1:  o/p :[5,3,2,9]
# func2: i/p:5 o/p:5**2
# func3: i/p: o/p: [25,9,4,81]

In [60]:
def strList():
    values = input("Enter values separate with comma")
    values = values.split(',')
    for i in range(len(values)):
        values[i]= int(values[i])
    return values
strList()

Enter values separate with comma5,10,3

[5, 10, 3]

In [61]:
def square(n):
    return n**2
square(5)

25

In [62]:
def squaredList():
    values = strList()
    for i in range(len(values)):
        values[i] = square(values[i])
    return values

In [65]:
squaredList()

Enter values separate with comma3,4,5

[9, 16, 25]

In [72]:
def properDisplay(values,sep=' '):
    for i in values:
        print(i,end=sep)
    print()
properDisplay([34,45,67])
properDisplay([34,45,67],sep=',')
properDisplay([34,45,67],sep='\t')

34 45 67
34,45,67,
34	45	67